<div class="">
  <h1>Bienvenido al {{title}}</h1>
  <p>Aprender angular</p>

  <button (click)="ocultarVideoJuegos(false)" *ngIf="mostrar">Ocultar </button>
  <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrar">Mostrar </button>

  <ul>
    <li *ngFor = "let nombre of nombres">{{nombre}}
    <span *ngIf="nombre == 'Andre'"> El programador </span>
    </li>

  </ul>

  <p *ngIf="nombres.length > 5">Hay más de 5</p>

  <input type="text" [(ngModel)]="mi_nombre" />
  <p>{{mi_nombre}}</p>
  <button type="button" (click)="getNuevos()" name="button">Ver nuevos</button>

</div>
